*{
    margin: 0;
}

#root{
    box-sizing: border-box;
    background-color: #222222;
    height: 100vh;
    color: white;
}

#root > * {
    margin-left: 20px;
}

.results > *{
    color: rgb(206, 206, 206);
    font-weight: lighter;
    margin-left: 20px;
}